.colorblue {
    width: 100px;
    height: 100px;
}

.colorpurple{
    width: 100px;
    height: 100px;
}

.colorful{
    width: 100px;
    height: 100px;
}

.clearcrystal{
    width: 100px;
    height: 100px;
}
