.Header{
 text-align: center;
 border-style: solid;
 background-color: aqua;
 font-family: 'Montserrat', sans-serif;
}

.Statement{
    border-style: double;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    letter-spacing: 1px;
}

.Allcrystals {
    width: 100px;
    height: 100px;
}


