.Header{
 text-align: center;
 border-style: solid;
 background-color: aqua;
 font-family: 'Montserrat', sans-serif;
}

.Statement{
    border-style: double;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    letter-spacing: 1px;
}

#crystals{
    display: flex;
    justify-content: space-around;    
    align-items: center;

}
.crystal{
border: 1px solid green;
height: 200px;
width: 200px;

}

.Total{
    border-style: solid;
}

body{
    background: beige;
}